*.log
*.tmp
data_raw/
data_processed/
processed/
organized/

models/*.xml
models/*.tsv
models/*.lp
models/*.mat
models/*.pickle
models/*.pkl
!models/README.md

*.loom
*.h5ad

external_tools/
cobratoolbox-master/
Human-GEM/
.notebooks_cache/
.profile/
.history/
*.zip