*.log
*.tmp
data_raw/
data_processed/
processed/
organized/
expression_by_celltype/

*.loom
*.h5ad
*.gaf
*.lp
*.zip

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Environments
.env

# Editor backups
*~

# OS
.DS_Store

# External tools
external_tools/
cobratoolbox-master/
Human-GEM/

# Jupyter
.ipynb_checkpoints/
.notebooks_cache/

# Shell history
.profile/
.history/
