*.log
*.tmp
data_raw/
data_processed/
processed/
organized/
notebooks/
expression_by_celltype/
ipynb_checkpoints/

#models/

*.loom
*.h5ad

external_tools/
cobratoolbox-master/
Human-GEM/
.notebooks_cache/
.profile/
.history/
*.zip